* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/assets/walter_retry_03.png');
}

h1 {
    font-size: 0.5in;
    padding: 5px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color:silver;
}



li a {
    display: block;
    color:teal;
    text-align: center;
    padding:  15px;
    text-decoration: none;
    margin: 0;
}

li a:hover {
    background-color: wheat;
}

.main-container {
 /*   background-color: royalblue; */
    text-align: center;
    border-color: silver;
}

.main-title {
  /*  background-color: rosybrown; */
    text-align: center;
}

.item-container {
/*    background-color: red; */
    text-align: center;
}

.item-title {
 /*   background-color: purple; */
    text-align: center;
}

.item-content {
   /* background-color: seagreen; */
    text-align: center;
}

.BigFont {
    font-size: 3em;
}

.centerTxt {
    text-align: center;
}

.centerImg {
    display: block;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 5in;
}

.flex-nav {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    background-color: skyblue;
}

.hidden {
    display: none !important; 
}

.p-item {
    display: flex;
    padding: 5px;
    text-align: center;
    margin: auto;
    background-color: seagreen;
    border: 5px dotted black;
    border-radius: 5px, 5px, 5px, 5px;
    max-width: 3in;
    max-height: 3in;
}

.account-link{
    display: flex;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: silver; 
    border: 5px groove black;
    border-radius: 5px, 5px, 5px, 5px;
}

.padding-top {
    padding: 12px;
}

.dropDown {
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around;
    text-decoration: none;
    
}